<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Necessary meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="cloymusic is an online music service that provides you hands on high quality online music
    ">
    <link rel="icon" href="/pngs/icon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/utility.css">
    <title>cloyumusic</title>
</head>
<body id = "body">
    <div class="overlay"></div>
    <%- include("logoutconf") %>
    <%- include("signUp") %>
    <%- include("logIn") %>
    <%- include("resetPass") %>
 
    <div class="scbvr flex column vercenter">
        <!-- header of the document -->
        <header class="strfpg">
            <nav class="navbar flex row vercenter relative">
                <div class="logo top absolute noLeft flex row vercenter horcenter gap">
                    <button class="menu horcenter radius vercenter">
                        <img src="/svgs/hamb.svg" alt="" class="hamburger">
                    </button>
                    <img src="/pngs/cname.png" alt="logo" class="clogo">
                </div>
                <div class="search top flex row vercenter">
                    <form action="" class="searchbar flex row vercenter fullWidth">
                        <button class="home flex row horcenter"><img src="/svgs/home-2.svg" class="homeicon"></button>
                        <div class="inputbrowse flex row vercenter">
                            <button class="searchbutton flex row vercenter"><img src="/svgs/search.svg" alt="search"
                                    class="searchSvg"></button>
                            <input type="text" placeholder="Search for music" class="searchInput flex row horcenter">
                        </div>
                    </form>
                    <%- include("searchResult") %>
                </div>
                <div class="logsign top flex row vercenter absolute noRight">
                    <button popovertarget="signUpPopOver" class="signup">Sign Up</button>
                    &nbsp;&nbsp;
                    <button popovertarget="logInPopOver" class="login">Log In</button>
                    &nbsp;&nbsp;
                    <%- include("account") %>
                </div>
            </nav>
        </header>
        <!-- Main section of the document -->
        <main class="mainSection" tabindex="0">
            <div class="main grid relative">
                <%- include("userPlaylists") %>
                <%- include("playlistView") %>
                <%- include("createPlaylist") %>

                <!-- Library of website -->
                <div class="library radius ">
                    <div class="libhead flex row vercenter">
                        <button class="librarybutton"><img src="/svgs/library.svg" alt="" class="libsvg"></button>
                        <span class="ylib">&nbsp;&nbsp;Your library</span>
                    </div>
                    <div class="playpod flex column">
                        <div class="playlistCreation part">
                            <p class="createPlaylist create">Create your first playlist</p>
                            <p class="exp">It's easy, we'll help you</p>
                            <div class="play partB"><button popovertarget="logInPopOver" class="playbutton buttonpart noFunction">
                                    <p class="inbutton">Create playlist</p>
                                </button></div>
                        </div>
                  </div>
                  <div class="libraryFooter">
                    <ul class="libraryFooterList flex row vercenter gap">
                        <li class="libraryFooterListItem"><a href="/terms-of-use" class="terms">Terms of Use</a></li>
                        <li class="libraryFooterListItem"><a href="/privacy-policy" class="privacy">Privacy Policy</a></li>
                    </ul>
                  </div>
                </div>

                <!-- musicSection of the site  -->
                <div class="musicSection radius relative">
                       <%- include ("addToPlistView") %>
                    <!-- player -->
                    <div class="player flex column fixed horcenter vercenter radius">
                        <div class="flex row spaceBetween fullWidth vercenter">
                            <div class=" currentSongName relative ">
                                <p class="nameIs"></p>
                            </div>
                            <div class="playerButtons fixed flex row">
                                <button class="previous playerButton"><img src="/svgs/previous.svg" alt=""
                                        class="preSvg playerSvg"></button>
                                <button class="playPause playerButton"><img src="/svgs/plays.svg" alt=""
                                        class="playPauseSvg playerSvg"></button>
                                <button class="next playerButton"><img src="/svgs/next.svg" alt=""
                                        class="nextSvg playerSvg"></button>
                            </div>
                            <div class="duration flex row noRight relative">
                                <p class="currentTime">00:00</p>&nbsp;/&nbsp;
                                <p class="durationTime">00:00</p>
                            </div>
                        </div>
                        <div class="seekBar absolute fullWidth">
                            <div class="seekBall relative"></div>
                        </div>

                    </div>

                    <!-- division containing songs of the artist, album or playlist -->
                    <div class="aapInfo column fixed">
                        <div class="image flex horcenter vercenter relative">
                            <button class="radius closeAap noBackground absolute"><img src="/svgs/Back.svg" alt=""
                                    class="goBackSvg"></button>
                            <img src="/pngs/icon.png" alt="" class="aapImage">

                        </div>
                        <div class="aapTitle">
                            <p class="actuTitle">Title
                            </p>
                        </div>
                        <div class="songListHead">
                            <h3>Songs :</h3>
                        </div>
                        <div class="songsList flex column">

                        </div>

                    </div>

                    <!-- Artist Cards -->
                    <Section class="artistSection">
                        <div class="artistHead flex row vercenter">
                            <p class="heading">Popular artists</p>
                            <p class="moreArtists"><a href="" class="all">Show all</a></p>
                        </div>

                        <div class="artistBox flex row vercenter relative">
                            <button class="scrollLeft"><img src="/svgs/left.svg" alt=""></button>
                            <div class="artists scrollableDiv flex row vercenter">
                                <%- include("artist") %>
                                    <%- include("artist") %>
                                        <%- include("artist") %>
                                            <%- include("artist") %>
                                                <%- include("artist") %>
                                                    <%- include("artist") %>
                                                        <%- include("artist") %>
                                                            <%- include("artist") %>
                            </div>
                            <button class="scrollRight"><img src="/svgs/right.svg" alt=""></button>

                        </div>
                    </Section>

                    <!-- Album Cards -->
                    <section class="albumSection">
                        <div class="albumHead flex row vercenter">
                            <p class="heading">Popular ablums</p>
                            <p class="moreAlbums"><a href="" class="all">Show all</a></p>
                        </div>
                        <div class="albumBox flex row vercenter relative">
                            <button class="scrollLeft"><img src="/svgs/left.svg" alt=""></button>
                            <div class="albums scrollableDiv flex row vercenter">
                                <%- include("album") %>
                                    <%- include("album") %>
                                        <%- include("album") %>
                                            <%- include("album") %>
                                                <%- include("album") %>
                                                    <%- include("album") %>
                                                        <%- include("album") %>
                                                            <%- include("album") %>
                            </div>
                            <button class="scrollRight"><img src="/svgs/right.svg" alt=""></button>
                        </div>
                    </section>

                    <!-- Playlist Cards -->
                    <section class="playlistSection">
                        <div class="playlistHead flex row vercenter">
                            <p class="heading">Cloymusic Playlists</p>
                            <p class="morePlaylist"><a href="" class="all">Show all</a></p>
                        </div>
                        <div class="playlistBox flex row vercenter relative">
                            <button class="scrollLeft"><img src="/svgs/left.svg" alt=""></button>
                            <div class="playlists scrollableDiv flex row vercenter">
                                <%- include("playlist") %>
                                    <%- include("playlist") %>
                                        <%- include("playlist") %>
                                            <%- include("playlist") %>
                                                <%- include("playlist") %>
                                                    <%- include("playlist") %>
                                                        <%- include("playlist") %>
                                                            <%- include("playlist") %>
                            </div>
                            <button class="scrollRight"><img src="/svgs/right.svg" alt=""></button>
                        </div>
                    </section>

                    <!-- Footer of the Site -->
                    <footer class="footer">

                        <div class="footerElements grid">
                            <div class="company">
                                <ul class="companyOptions footerList">
                                    <li class="list1Head">
                                        <p class="head">Company</p>

                                    </li>
                                    <li class="firstOption">
                                        <a href="/about" target="_blank" class="first">
                                            <p class="first">About</p>
                                        </a>
                                    </li>
                                    <li class="thirdOption">
                                        <a href="/for-the-record" target="_blank" class="third">
                                            <p class="third">For the record</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="communities">
                                <ul class="communityOptions footerList">
                                    <li class="list2Head">
                                        <p class="head">Communities</p>
                                    </li>
                                    <li class="firstOption">
                                        <a href="/developers" target="_blank" class="first">
                                            <p class="first">Developers</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="cloymusicPlans">
                                <ul class="planOptions footerList">
                                    <li class="list1Head">
                                        <p class="head">Cloymusic Plans</p>

                                    </li>
                                    <li class="firstOption">
                                        <a href="/premium-individual-plan" target="_blank" class="first">
                                            <p class="first">Premium Individual</p>
                                        </a>
                                    </li>
                                    <li class="secondOption">
                                        <a href="/premium-family-plan" target="_blank" class="second">
                                            <p class="second">Premium Family</p>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="socialMediaHandles flex row horcenter ">
                                <div class="fb"><a href="https://www.facebook.com/profile.php?id=61575369860387" target="_blank" class="fbButton socialButton"><img src="/svgs/fb.svg" alt=""
                                            class="fbSvg"></a></div>
                                <div class="insta"><a href="https://www.instagram.com/cloymusic01/" target="_blank" class="instaButton socialButton"><img src="/svgs/insta.svg"
                                            alt="" class="instaSvg"></a></div>
                                <div class="x"><a href="https://x.com/cloymusic01" target="_blank" class="xButton socialButton"><img src="/svgs/x.svg" alt=""
                                            class="xSvg"></a></div>

                            </div>
                        </div>
                        <div class="footerLogo">
                            <img src="/pngs/icon.png" alt="Company Logo">
                        </div>
                    </footer>
                    <div class="copyright">
                        <p><a href="#" class="copyrightInfo">&copy2025 Cloymusic</a></p>
                    </div>
                </div>
            </div>
    </div>
    </main>
    </div>

    <!-- script of website -->
    <script type="module" src="/js/script.js"></script>
</body>

</html>